html, body{
    margin: 0;
    height: 100%;
}

.header-con{
    background-color: #C55A11;
    display: flex;
    padding: 0.8rem 12rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);
    min-height: 6%;
}
p{
    margin:0;
}
.logo{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 0.6rem;
}
.logo-con{
    padding: 0rem;
    font-weight: 800;
}
.main{
    margin: 0;
    
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url('Basic-Cooking-Methods.jpg');
    background-size: cover;
    min-height: 90.8%;
}
.main-con{
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.heading-con{
    width: 50%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-heading{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 100%;
    font-size: 3.2rem;
    margin: 1rem 0;
    font-weight: 600;
    outline: #C55A11 dashed 3px;
}
.sub-heading{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    text-align: center;
}



.signup-container {
    text-align: center;
    margin-left: 1rem;
}

.signup-content {
    background: #f5f5f5;
    /* border: #C55A11 solid 2px; */
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 6px;
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    position: relative;    
    padding: 35px;

}

.signup-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
    color: #C55A11;
    font-family: 'Nunito', sans-serif;
}
.form-item{
    margin-top: 0.3rem;
    text-align: start;
    font-family: 'Nunito', sans-serif;
    
}
.form-control{
    width: 95%;
    height: 2rem;
    margin-top: 0.2rem;
    font-size: 1rem;
    padding: 0 0.5rem;
}
.btn-block{
    all: unset;
    color: #fff;
    border: #fff 2px solid;
    background-color:#C55A11;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    appearance: none !important;
    font-weight: 600;
    margin-top: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.btn-block:hover{
    color: #C55A11;
    background-color: #fff;
    border: #C55A11 2px solid;
    cursor: pointer;
}
.ferror{
    color: red;
    position: absolute;
    left: 50%;
    bottom: -0.2rem;
    transform: translate(-50%, -50%);
}

@media (max-width: 1080px) {
    .main-con{
        display: block;
    }
    .heading-con{
        width: 80%;
    }
    .main{
        min-height: 94%;
    }
    .logo-con{
        margin: auto;
    }
    .header-con{
        min-height: 6%;
    }
    .signup-container {
        margin-left: 0;
    }
    .heading-con{
        margin: 1rem auto;
    }
}
@media (max-width: 700px) {
    .main-con{
        width: 100%;
    }
}
@media (max-width: 560px){
    .main-heading{
        font-size: 2.5rem;
    }
    .header-con{
        padding: 0.8rem 1rem;
    }
    .main-con{
        display: block;
    }
    .signup-content {
        padding: 10px 25px;
        width: auto;
    }
    .heading-con{
        margin: 1rem auto;
    }
}