a{
    text-decoration: none;
}
.recipe-container{
    display: flex;
    position: relative;
    padding: 1rem 12rem;
    flex-wrap: wrap;
}
.recipe-card{
    margin: 1rem 2rem;
    border: 1px #d9d9d9 solid;
    width: 19%;
}
.recipe-card a{
    color: #000;
    text-decoration: none;
}
.recipe-card a:hover{
    text-decoration: underline;
}
.recipe-card-image{
    width: 100%;
	height: 16rem;
	object-fit: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.recipe-card-title{
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    padding: 0.1rem 1.5rem;
    margin: 0.1rem auto;
}
.recipe-card-des-con{
    width:100%;
}
.recipe-card-des{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.65rem;
    line-height: 1.3rem;
    text-overflow: ellipsis;
    padding: 0.1rem 1.5rem;
    font: normal 400 "Source Sans Pro",sans-serif;
}
.recipe-card-writer{
    font-weight: bolder;
    font: normal "Source Sans Pro",sans-serif;
    font-size: 0.9rem;
    padding: 0.4rem 1.5rem;
    color: #5f5d5d;
}
.recipe-card-writer span{
    color: #5f5d5d;
    font-weight: normal;
    
}
.btn-add{
    all: unset;
    color: #fff;
    display: inline-block;
    border: solid 2px #C55A11;
    background-color: #C55A11;
    padding: 0 0.3rem;
    border-radius: 6px;
    font-weight: 600;
    height: 2rem;
    margin: auto;
    margin-top: 2rem;
    display: block;
}
.btn-add:hover{
    color: #C55A11;
    background-color: #fff;
    cursor: pointer;
}